SECRET_KEY=dunyajelewerlly.railway.internal
DEBUG=true
ALLOWED_HOSTS=localhost,127.0.0.1
FRONTEND_URL=http://localhost:5173

TELEGRAM_BOT_TOKEN=8329324901:AAFTjBP277wuD8K_vwYaHaaEEgQxX0WMgYE
TELEGRAM_CHAT_ID=6032890378
TELEGRAM_USERNAME=dunya_jewellryad
