SECRET_KEY=dunyajelewerlly.railway.internal
DEBUG=true
ALLOWED_HOSTS=localhost,127.0.0.1
FRONTEND_URL=http://localhost:5173

TELEGRAM_BOT_TOKEN=8347574406:AAFqAPMDrGogYC5jlEHiL_MXbnhLuzne3m8
TELEGRAM_CHAT_ID=8456049332
TELEGRAM_USERNAME=zxsvgh
